*.pyc
*.swp
.DS_Store
.idea/
venv/
instance/
applog/
data/
migrations/
test.py
.ropeproject
.venv
resource.txt
.ropeproject
.idea
*.DS_Store*
*.log.*
logs
*.pyc
bak
*.bak*
*static*
access.log
test.py
test.go
.venv
venv
