--index-url https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url http://pypi.sankuai.com/simple
--trusted-host pypi.sankuai.com

cffi==1.8.3
cryptography==1.5.2
ecdsa==0.13
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
netifaces==0.10.5
paramiko==2.0.2
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
requests==2.11.1
six==1.10.0
Werkzeug==0.11.11
ConcurrentLogHandler==0.9.1
elasticsearch==5.0.0
celery==4.0.2
redis==2.10.5
termcolor==1.1.0
lion==0.0.4
